:root {
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1360px;
  // Fonts
  --main-font: 'Open Sans', sans-serif;
  // Font weight
  --fw-s: 300;
  --fw-m: 400;
  // Font sizes
  --fs-btn-t: 18px;
  --fs-logo-m: 32px;
  --fs-logo-t: 35px;
  --fs-nav-t: 18px;
  --fs-main-title-m: 52px;
  --fs-main-title-t: 55px;
  --fs-uppertitle-m: 18px;
  --fs-uppertitle-t: 20px;
  --fs-section-title: 38px;
  --fs-description-t: 18px;
  --fs-copyright-t: 18px;
  --fs-hero-descr: 22px;
  --fs-team-subtitle: 23px;
  // Text colors
  --main-txt-cl: #ffffff;
  --secondary-txt-cl: #333333;
  --hero-txt-cl: #e9e9e9;
  --btn-txt-cl: #ffffff;
  --btn-blog-txt-cl: #0284d0;
  // Background colors
  --background-dark-cl: #2f303a;
  --background-btn-white-cl: #ffffff;
  --background-header-cl: rgba(14, 15, 20, 0.6);
  --background-blog-cl: #0284d0;
  --background-contact-cl: #f4f4f4;
  --background-footer-cl: #333333;
  // Layout colors
  --layout-team-cl: rgba(0, 0, 0, 0.6);
  // Icon colors
  --icon-social-cl: #ffffff;
  //Border colors
  --border-btn: #ffffff;
  // Placeholder colors
  --placeholder-contact-cl: #808080;
  // Accent colors
  --accent-cl: #28a745;
  --accent-hovered-cl: #279e42;
  // Duration
  --duration: 250ms;
  // Delay
  --delay: 250ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
