<section class="about" id="about">
  <div class="container">
    <img
      class="about__img"
      src="./images/about/about-1.jpg"
      alt="People"
      width="320"
      height="220"
    />
    <div class="about__text-wrap">
      <p class="about__uppertitle uppertitle">What you are looking for</p>
      <h2 class="about__title section-title">We provide bespoke solutions</h2>
      <p class="about__descr">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae&nbsp laudantium asperiores nam aliquid impedit
        harum illum dolore explicabo ab dolores itaque rerum temporibus
        doloribus iste maiores deleniti?
      </p>
      <a class="about__btn btn" href="">Read More</a>
    </div>
  </div>
</section>
