<section class="blog" id="blog">
  <div class="blog__container container">
    <div class="blog__thumb">
      <img
        src="./images/blog/blog-1.jpg"
        alt="Notebook"
        width="680"
        height="247"
      />
    </div>
    <div class="blog__text-wrap">
      <p class="blog__uppertitle uppertitle">April 16 2020</p>
      <h2 class="blog__title section-title">Blog Post One</h2>
      <p class="blog__descr description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae&nbsp; laudantium asperiores nam aliquid impedit
        harum illum dolore explicabo ab dolores itaque rerum temporibus
        doloribus iste maiores deleniti?
      </p>
      <a class="blog__btn btn" href="">Read Our Blog</a>
    </div>
  </div>
</section>
