<section class="contact">
  <div class="container">
    <img
      class="contact__img"
      src="./images/contact/contact-img.jpg"
      alt="A man is sitting at a laptop"
      width="320"
      height="220"
    />
    <div class="contact__wrap">
      <h2 class="contact__title">Request Callback</h2>
      <form class="form" name="" autocomplete="on">
        <label class="form__label">
          <input
            class="form__input"
            type="text"
            name="name"
            placeholder="Enter your name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space."
          />
        </label>
        <label class="form__label">
          <input
            class="form__input"
            type="email"
            name="email"
            placeholder="Enter email*"
            required
          />
        </label>
        <button class="contact__btn btn btn--no-transparent" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</section>
