<footer class="footer">
  <div class="container">
    <ul class="social">
      <li>
        <a
          class="social__link"
          href="https://uk-ua.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          area-label="facebook"
        >
          <svg class="social__icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social__link"
          href="https://twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
          area-label="twitter"
        >
          <svg class="social__icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social__link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          area-label="youtube"
        >
          <svg class="social__icon" width="40" height="35">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social__link"
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          area-label="linkedin"
        >
          <svg class="social__icon" width="35" height="35">
            <use href="./images/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__copyright">Copyright &#169; 2021 - FinanceLedger</p>
  </div>
</footer>
