<section class="team">
  <div class="container">
    <p class="team__uppertitle uppertitle">Who we are</p>
    <h2 class="team__title section-title">Our Professional Team</h2>
    <p class="team__descr description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list card-set">
      <li class="card-item">
        <div class="team__wrap">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-1_d.webp    1x,
                ./images/team/team-1@2x_d.webp 2x,
                ./images/team/team-1@3x_d.webp 3x,
                ./images/team/team-1@4x_d.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-1_d.jpg    1x,
                ./images/team/team-1@2x_d.jpg 2x,
                ./images/team/team-1@3x_d.jpg 3x,
                ./images/team/team-1@4x_d.jpg 4x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-1_t.webp    1x,
                ./images/team/team-1@2x_t.webp 2x,
                ./images/team/team-1@3x_t.webp 3x,
                ./images/team/team-1@4x_t.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-1_t.jpg    1x,
                ./images/team/team-1@2x_t.jpg 2x,
                ./images/team/team-1@3x_t.jpg 3x,
                ./images/team/team-1@4x_t.jpg 4x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-1_m.webp    1x,
                ./images/team/team-1@2x_m.webp 2x,
                ./images/team/team-1@3x_m.webp 3x,
                ./images/team/team-1@4x_m.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-1_m.jpg    1x,
                ./images/team/team-1@2x_m.jpg 2x,
                ./images/team/team-1@3x_m.jpg 3x,
                ./images/team/team-1@4x_m.jpg 4x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              class="team__img"
              src="./images/team/team-1_d.jpg"
              alt="John Doe"
              width="420"
              height="186"
            />
          </picture>
          <div class="team__thumb">
            <ul class="team__social social">
              <li>
                <a
                  class="social__link"
                  href="https://uk-ua.facebook.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="facebook"
                >
                  <svg class="social__icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://twitter.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="twitter"
                >
                  <svg class="social__icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://www.youtube.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="youtube"
                >
                  <svg class="social__icon" width="40" height="35">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://www.linkedin.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="linkedin"
                >
                  <svg class="social__icon" width="35" height="33">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team__text-wrap">
          <h3 class="team__subtitle">John Doe</h3>
          <p class="team__subdescr">President</p>
        </div>
      </li>
      <li class="card-item">
        <div class="team__wrap">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-2_d.webp    1x,
                ./images/team/team-2@2x_d.webp 2x,
                ./images/team/team-2@3x_d.webp 3x,
                ./images/team/team-2@4x_d.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-2_d.jpg    1x,
                ./images/team/team-2@2x_d.jpg 2x,
                ./images/team/team-2@3x_d.jpg 3x,
                ./images/team/team-2@4x_d.jpg 4x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-2_t.webp    1x,
                ./images/team/team-2@2x_t.webp 2x,
                ./images/team/team-2@3x_t.webp 3x,
                ./images/team/team-2@4x_t.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-2_t.jpg    1x,
                ./images/team/team-2@2x_t.jpg 2x,
                ./images/team/team-2@3x_t.jpg 3x,
                ./images/team/team-2@4x_t.jpg 4x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-2_m.webp    1x,
                ./images/team/team-2@2x_m.webp 2x,
                ./images/team/team-2@3x_m.webp 3x,
                ./images/team/team-2@4x_m.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-2_m.jpg    1x,
                ./images/team/team-2@2x_m.jpg 2x,
                ./images/team/team-2@3x_m.jpg 3x,
                ./images/team/team-2@4x_m.jpg 4x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              class="team__img"
              src="./images/team/team-2_d.jpg"
              alt="Jane Doe"
              width="420"
              height="186"
            />
          </picture>
          <div class="team__thumb">
            <ul class="team__social social">
              <li>
                <a
                  class="social__link"
                  href="https://uk-ua.facebook.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="facebook"
                >
                  <svg class="social__icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://twitter.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="twitter"
                >
                  <svg class="social__icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://www.youtube.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="youtube"
                >
                  <svg class="social__icon" width="40" height="35">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://www.linkedin.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="linkedin"
                >
                  <svg class="social__icon" width="35" height="33">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team__text-wrap">
          <h3 class="team__subtitle">Jane Doe</h3>
          <p class="team__subdescr">Vice President</p>
        </div>
      </li>
      <li class="card-item">
        <div class="team__wrap">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-3_d.webp    1x,
                ./images/team/team-3@2x_d.webp 2x,
                ./images/team/team-3@3x_d.webp 3x,
                ./images/team/team-3@4x_d.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/team/team-3_d.jpg    1x,
                ./images/team/team-3@2x_d.jpg 2x,
                ./images/team/team-3@3x_d.jpg 3x,
                ./images/team/team-3@4x_d.jpg 4x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-3_t.webp    1x,
                ./images/team/team-3@2x_t.webp 2x,
                ./images/team/team-3@3x_t.webp 3x,
                ./images/team/team-3@4x_t.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/team-3_t.jpg    1x,
                ./images/team/team-3@2x_t.jpg 2x,
                ./images/team/team-3@3x_t.jpg 3x,
                ./images/team/team-3@4x_t.jpg 4x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-3_m.webp    1x,
                ./images/team/team-3@2x_m.webp 2x,
                ./images/team/team-3@3x_m.webp 3x,
                ./images/team/team-3@4x_m.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/team-3_m.jpg    1x,
                ./images/team/team-3@2x_m.jpg 2x,
                ./images/team/team-3@3x_m.jpg 3x,
                ./images/team/team-3@4x_m.jpg 4x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              class="team__img"
              src="./images/team/team-3_d.jpg"
              alt="Steve Smith"
              width="420"
              height="186"
            />
          </picture>
          <div class="team__thumb">
            <ul class="team__social social">
              <li>
                <a
                  class="social__link"
                  href="https://uk-ua.facebook.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="facebook"
                >
                  <svg class="social__icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://twitter.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="twitter"
                >
                  <svg class="social__icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://www.youtube.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="youtube"
                >
                  <svg class="social__icon" width="40" height="35">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="social__link"
                  href="https://www.linkedin.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  area-label="linkedin"
                >
                  <svg class="social__icon" width="35" height="33">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team__text-wrap">
          <h3 class="team__subtitle">Steve Smith</h3>
          <p class="team__subdescr">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
