.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  line-height: 1.31;
  color: var(--accent-cl);

  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.2;
    transition-property: scale;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
      scale: 1.05;
    }
  }
}

.logo__icon {
  margin-right: 6px;
  fill: currentColor;

  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}

.logo__txt {
  color: var(--main-txt-cl);

  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}
