.social {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 9px;
}

.social__link {
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
