.main-title {
  font-weight: var(--fw-s);
  font-size: var(--fs-main-title-m);
  line-height: var(--lh-main-title-m);

  @media screen and (min-width: 768px) {
    font-size: var(--fs-main-title-t);
    line-height: var(--lh-main-title-t);
  }
}

.uppertitle {
  font-weight: var(--fw-m);
  font-size: var(--fs-uppertitle-m);
  line-height: var(--lh-uppertitle-m);

  @media screen and (min-width: 768px) {
    font-size: var(--fs-uppertitle-t);
    line-height: var(--lh-uppertitle-t);
  }
}

.section-title {
  font-weight: var(--fw-s);
  font-size: var(--fs-section-title);
  line-height: var(--lh-section-title);
}

.description {
  line-height: var(--lh-description-m);

  @media screen and (min-width: 768px) {
    font-size: var(--fs-description-t);
    line-height: var(--lh-description-t);
  }
}
