.main-title {
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;
}

.uppertitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.section-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
