.about {
  background-color: var(--accent-cl);
}

.about__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__thumb {
  width: 320px;
  margin-left: -20px;

  @media screen and (min-width: 768px) {
    width: 384px;
  }
}

.about__img {
  max-width: 100%;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.about__text-wrap {
  @include section();
  padding-left: 10px;

  @media screen and (min-width: 768px) {
    padding-left: 30px;
  }
}

.about__uppertitle {
  margin-bottom: 5px;
}

.about__title {
  margin-bottom: 25px;

  @media screen and (max-width: 1359px) {
    max-width: 204px;
  }
}

.about__descr {
  max-width: 260px;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    max-width: 315px;
    margin-bottom: 20px;
  }
}

.about__btn {
  min-width: 158px;
  height: 47px;
}
