.cases {
  @include section(50, 46);
  color: var(--secondary-txt-cl);
  text-align: center;
}

.cases__uppertitle {
  margin-bottom: 15px;
}

.cases__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;

  @media screen and (max-width: 767px) {
    width: 219px;
  }
}

.cases__descr {
  margin-bottom: 37px;
}

.cases__list {
  --item: 1;
  --indent: 8px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    --item: 2;
    height: 238px;
    writing-mode: vertical-lr;
    padding-top: 0;
    padding-right: 8px;
    padding-left: 8px;
  }

  @media screen and (min-width: 1360px) {
    height: 436px;
  }
}

.cases__item {
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @media screen and (min-width: 768px) {
    width: 172px;
  }

  @media screen and (min-width: 1360px) {
    width: 320px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.cases__img {
  cursor: zoom-in;
}
