.contact {
  color: var(--secondary-txt-cl);
  background-color: var(--background-contact-cl);
}

.contact__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contact__thumb {
  max-width: 320px;
  margin-left: -20px;
  margin-right: -20px;

  @media screen and (min-width: 768px) {
    max-width: 384px;
    margin-right: 0;
  }

  @media screen and (min-width: 1360px) {
    max-width: 680px;
  }
}

.contact__img {
  max-width: 100%;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.contact__wrap {
  @include section(26, 30);
  padding-right: 10px;
  padding-left: 10px;

  @media screen and (min-width: 768px) {
    padding-left: 30px;
    width: 364px;
  }

  @media screen and (min-width: 1360px) {
    @include section(78, 82);
    width: 660px;
  }
}

.contact__title {
  width: 147px;
  margin-bottom: 34px;

  @media screen and (min-width: 768px) {
    width: 305px;
  }
}
