.features {
  @include section();

  @media screen and (min-width: 768px) {
    @include section(40, 47);
  }

  @media screen and (min-width: 1360px) {
    @include section(40, 19);
  }
}

.features__list {
  text-align: center;

  @media screen and (max-width: 767px) {
    --item: 1;
    --indent: 18px;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    --item: 3;
    --indent: 53px;
    padding-right: 33px;
    padding-left: 33px;
  }

  @media screen and (min-width: 1360px) {
    --item: 3;
    --indent: 71px;
    padding-right: 66px;
    padding-left: 66px;
  }
}

.features__wrap {
  background-color: var(--accent-cl);
  border-radius: 50%;
  width: 64px;
  padding: 15px;
  margin-right: auto;
  margin-bottom: 11px;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 67px;
    height: 67px;
  }
}

.features__icon {
  display: block;
  fill: currentColor;

  @media screen and (min-width: 768px) {
    width: 35px;
    height: 35px;
  }
}

.features__title {
  color: var(--secondary-txt-cl);
  margin-bottom: 15px;
}

.features__descr {
  color: var(--secondary-txt-cl);
}
