.footer {
  @include section(20, 20);
  background-color: var(--background-footer-cl);
}

.footer__copyright {
  line-height: var(--lh-copyright-m);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: var(--fs-copyright-t);
    line-height: var(--lh-copyright-t);
  }
}
