.header {
  @include section(20, 20);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition-property: background-color, backdrop-filter;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @media screen and (min-width: 768px) {
    @include section(10, 10);
  }

  &--no-transparency {
    background-color: var(--background-header-cl);
    backdrop-filter: blur(4px);
  }
}

.header__logo {
  @media screen and (max-width: 767px) {
    margin-bottom: 11px;
  }
}
