.hero {
  @include section(144, 95);
  margin: 0 auto;
  color: var(--hero-txt-cl);
  text-align: center;
  background-color: var(--background-dark-cl);
  background-position: center center; // x y
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 320px;
  // {:mobile} screen
  background-image: url('../images/hero/hero-bg_m.jpg');
  background-image: -webkit-image-set(url('../images/hero/hero-bg_m.webp') 1x);
  @include retinax2 {
    background-image: url('../images/hero/hero-bg@2x_m.jpg');
    background-image: -webkit-image-set(
      url('../images/hero/hero-bg@2x_m.webp') 2x
    );
  }
  @include retinax3 {
    background-image: url('../images/hero/hero-bg@3x_m.jpg');
    background-image: -webkit-image-set(
      url('../images/hero/hero-bg@3x_m.webp') 3x
    );
  }
  @include retinax4 {
    background-image: url('../images/hero/hero-bg@4x_m.jpg');
    background-image: -webkit-image-set(
      url('../images/hero/hero-bg@4x_m.webp') 4x
    );
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    @include section(407, 412);
    // {:tablet} screen
    background-image: url('../images/hero/hero-bg_t.jpg');
    background-image: -webkit-image-set(
      url('../images/hero/hero-bg_t.webp') 1x
    );
    @include retinax2 {
      background-image: url('../images/hero/hero-bg@2x_t.jpg');
      background-image: -webkit-image-set(
        url('../images/hero/hero-bg@2x_t.webp') 2x
      );
    }
    @include retinax3 {
      background-image: url('../images/hero/hero-bg@3x_t.jpg');
      background-image: -webkit-image-set(
        url('../images/hero/hero-bg@3x_t.webp') 3x
      );
    }
    @include retinax4 {
      background-image: url('../images/hero/hero-bg@4x_t.jpg');
      background-image: -webkit-image-set(
        url('../images/hero/hero-bg@4x_t.webp') 4x
      );
    }
  }

  @media screen and (min-width: 1360px) {
    max-width: 1360px;
    @include section(279, 284);
    // {:desktop} screen
    background-image: url('../images/hero/hero-bg_d.jpg');
    background-image: -webkit-image-set(
      url('../images/hero/hero-bg_d.webp') 1x
    );
    @include retinax2 {
      background-image: url('../images/hero/hero-bg@2x_d.jpg');
      background-image: -webkit-image-set(
        url('../images/hero/hero-bg@2x_d.webp') 2x
      );
    }
    @include retinax3 {
      background-image: url('../images/hero/hero-bg@3x_d.jpg');
      background-image: -webkit-image-set(
        url('../images/hero/hero-bg@3x_d.webp') 3x
      );
    }
    @include retinax4 {
      background-image: url('../images/hero/hero-bg@4x_d.jpg');
      background-image: -webkit-image-set(
        url('../images/hero/hero-bg@4x_d.webp') 4x
      );
    }
  }
}

.hero__title {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }
}

.hero__descr {
  font-size: var(--fs-hero-descr);
  line-height: var(--lh-hero-descr);
  margin-bottom: 27px;

  @media screen and (min-width: 768px) {
    margin-bottom: 29px;
  }
}

.hero__btn {
  height: 45px;

  @media screen and (min-width: 768px) {
    height: 48px;
  }
}
