.hero {
  @include section(144, 95);
  margin: 0 auto;
  color: var(--hero-txt-cl);
  text-align: center;
  background-color: var(--background-dark-cl);
  background-image: url('./../images/hero/hero-bg.jpg');
  background-position: center center; // x y
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1360px;

  @media screen and (min-width: 768px) {
    @include section(407, 412);
  }
}

.hero__title {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }
}

.hero__descr {
  font-size: 22px;
  line-height: 1.68;
  margin-bottom: 27px;

  @media screen and (min-width: 768px) {
    margin-bottom: 29px;
  }
}

.hero__btn {
  height: 45px;

  @media screen and (min-width: 768px) {
    height: 48px;
  }
}
